{% extends 'base.html.twig' %}

{% block title %}Modifier une Lecon{% endblock %}

{% block body %}
    <div class="container-fluid dashboard-content">
        <div class="row">
            <div class="col-xl-12">
                <div class="card">
                    <h3 class="card-header">Modifier une lecon</h3>
                    <div class="card-body">
                        {{ include('lecon/_form.html.twig', {'button_label': 'Enregistrer'}) }}
                        {{ include('lecon/_delete_form.html.twig') }}
                    </div>                            
                </div>
            </div>
        </div>
    </div>
{% endblock %}
