{% extends 'base.html.twig' %}

{% block title %}Ajouter un Paiement{% endblock %}

{% block body %}
   <div class="container-fluid dashboard-content">
        <div class="row">
            <div class="col-xl-12">
                <div class="card">
                    <h3 class="card-header text-uppercase ">Ajouter un paiement</h3>
                    <div class="card-body">
                        {{ include('paiement/_form.html.twig') }}
                    </div>                            
                </div>
            </div>
        </div>
    </div>
{% endblock %}
