{% extends 'base.html.twig' %}

{% block title %}Adresse{% endblock %}

{% block body %}
    <div class="container-fluid dashboard-content">
        <div class="row">
            <div class="col-xl-12">
                <div class="card">
                    <h3 class="card-header text-uppercase ">Détail de l'adresse</h3>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-6">
                                <div class="form-group">
                                    <label for="telephone" class="col-form-label">Telephone</label>
                                    <input id="telephone" disabled type="telephone" class="form-control" value={{ adresse.telephone }}>
                                </div>
                            </div>
                        </div>
                        <a class="btn btn-xs btn-primary float-right mr-2" href="{{ path('adresse_edit', {'id': adresse.id}) }}">
                            <i class="fa fa-pencil-square-o"></i>&nbsp;Modifier
                        </a>
                        <a class="btn btn-xs btn-info float-right mr-2" href="{{ path('adresse_index') }}">
                            <i class="fa fa-list"></i>&nbsp;Liste
                        </a>
                        {{ include('adresse/_delete_form.html.twig') }}
                    </div>                            
                </div>
            </div>
        </div>
    </div>
{% endblock %}
