<form method="post" action="{{ path('inscription_delete', {'id': inscription.id}) }}" onsubmit="return confirm('Voulez-vous vraiment supprimer cet élément?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ inscription.id) }}">
    <button class="btn btn-xs btn-danger float-right mr-2">
        <i class="fa fa-trash"></i>&nbsp;Supprimer
    </button>
</form>
