{% extends 'base.html.twig' %}

{% block title %}Modifier les Enseignants{% endblock %}

{% block body %}
        <div class="container-fluid dashboard-content">
        <div class="row">
            <div class="col-xl-12">
                <div class="card">
                    <h3 class="card-header text-uppercase">Modifier un Enseignant</h3>
                    <div class="card-body">
                        {{ include('enseignant/_form.html.twig', {'button_label': 'Enregistrer'}) }}
                    </div>                            
                </div>
            </div>
        </div>
    </div>
{% endblock %}
