{% extends 'base.html.twig' %}

{% block title %}New Format{% endblock %}

{% block body %}
    <h1>Create new Format</h1>

    {{ include('format/_form.html.twig') }}

    <a href="{{ path('format_index') }}">back to list</a>
{% endblock %}
