<h1>Email d'activation du compte</h1>
<p>
    Vous avez créer un compte sur notre site, veuillez cliquer sur le lien ci-dessous pour activer votre compte
</p>
<p>
    <a href="{{ absolute_url('activation', {'token': token}) }}">Activer mon compte</a>
</p>